@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color:#C010E0;
}

header {
    position: relative;
    background-color: pink;

}

.ft-logo {
    position: relative;
    border-radius: 100px;
    top: 15px;
    left: 10px;
    width: 80px;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.acessar {
    padding: 10px;
    position: relative;
    border-radius: 10px;
    color: black;
}

#acessar {
    position: relative;
    text-align: right;
    
}

.bus {
    padding: 10px;
    position: relative;
    border-radius: 10px;
    color: black;
    
}

#bus {
    position: relative;
    text-align: right;
    
}

.car {
    padding: 10px;
    position: relative;
    border-radius: 10px;
    color: black;
    /*background-color: white;*/
}

#car {
    position: relative;
    text-align: right;
    
}

#header {
   position: relative;
   top: 20px;
   padding: 8px;
   background-color:rgb(100, 94, 94);
}


.home {
    padding: 10px;
    position: relative;
    border-radius: 10px;
    color: black;
    background-color: palevioletred;
}

#home {
    position: relative;
    
    
}

.pro {
    padding: 10px;
    position: relative;
    border-radius: 10px;
    color: black;
    background-color: white;
}

#pro{
    position: relative;
    
}

.qs {
    padding: 10px;
    position: relative;
    border-radius: 10px;
    color: black; 
    background-color: pink;
}
 
#qs {
    position: relative;

}

.not {
    padding: 10px;
    position: relative;
    border-radius: 10px;
    color: black;
    background-color: palevioletred;
}

#not {
    position: relative;
}

.tc {
    padding: 10px;
    position: relative;
    border-radius: 10px;
    color: black;
    background-color: white;
 
}

#tc {
    position: relative;
}

main {
    background-color: yellow;
    border-radius: 10px;
    display: flexbox;
    margin: auto;
    position: relative;
    width: 1000px;
    top: 20px;
   
}

.img1 {
    display: flex;
    margin: auto;
    height: 300px;
    width: 300px;

}
.img2 {
    display: flex;
    margin: auto;
    height: 300px;
    width: 300px;

}
.img3 {
    display: flex;
    margin: auto;
    height: 300px;
    width: 300px;

}

.img4 {
    display: flex;
    margin: auto;
    height: 300px;
    width: 300px;

}

.img5 {
    display: flex;
    margin: auto;
    height: 300px;
    width: 300px;

}

.img6 {
    display: flex;
    margin: auto;
    height: 300px;
    width: 300px;
}
p {
    text-align: center;
    padding: 10px;
}
footer {
    position: relative;
    top: 500px;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: black;
}